@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --clr-body : #1b1c1e;
    --clr-accent : #C4E309;
    --clr-input : #2b2b2b;
    --clr-dark-100 : #020202;
    --clr-dark-200 : #0A0A0A;

    --clr-error : #E10000;
}

@layer base {
    html {
        font-family: "Inter", sans-serif;
    }
    body{
        color: #ffffff;
        background-color: var(--clr-body);
    }
}